// Place all the styles related to the intros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,
html {
  margin:0;
  padding:0;
  color:#000;
  background: #9D5626;
  background: linear-gradient(to left, #9D5626, beige);
}

#wrap {
  width:750px;
  margin:0 auto;
}

#header {
  padding: 20px 0px;
}

h1 {
  margin:0;
}

h2 {
  margin:0 0 1em;
}

#nav {
  padding:5px 10px;
}

#main {
  float:left;
  width:480px;
  padding:10px;
}

#sidebar {
  float:right;
  width:230px;
  padding:10px;
}

#footer {
  clear:both;
  padding:5px 10px;
}

* html #footer {
  height:1px;
}

#footer p {
  margin:0;
}

#nav ul {
  margin:0;
  padding:0;
  list-style:none;
}
#nav li {
  display:inline;
  margin:0;
  padding:0;
}
